<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Results</title>
</head>

<body>
    <table>
    <caption style="caption-side:top"><h3>STL Org</h3></caption>
        <tr>
            <th>ID</th>
            <th>File_Name</th>
            <th>Is_Zip?</th>
            <th>Category</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry[0]}}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
            </tr>
        {% else %}
            <li>No entries yet. Add some!</li>
        {% endfor %}
    </table>
</body>
</html>